/**
* Color scheme: http://kuler.adobe.com/#themeID/4817
*/

body {
  font-family: "helvetica neue","helvetica","lucida grande",arial,sans-serif;
  color: #000;
  background-color: #ccc;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  font-size: 18px;
}

body.fullScreen {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

.slide {
	background-color: #fff !important;
	margin: 0 auto ;
	position: relative !important;
}

a,
a:visited,
a:link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

h1 a,
h1 a:visited,
h1 a:link {
  color: #263248;
  font-weight: normal;
  text-decoration: none;
}

.new-chapter h1 {
  font-size: 70px;
  font-weight: bold;
  line-height: 70px;
}

.full-code h1 {
	margin-top: 2.5em;
}

.background-image h1,
.background-image h2 {
  position: absolute;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: inline-block;
  padding: 0.1em 0.5em;
  opacity: 0.7;
  filter:alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  left: 2em;
}
.background-image h2 {
  clear: both;
		font-size: 30px;
		left: -4.6em;
  position: relative;
  top: 4em;
		width: 7.3em;
}

/* Code font*/
code,
pre {
  font-family: Consolas,
       "Andale Mono",
       "Lucida Console",
       "Lucida Sans Typewriter",
       "DejaVu Sans Mono",
       "Bitstream Vera Sans Mono",
       "Liberation Mono",
       "Nimbus Mono L",
       Monaco,
       "Courier New",
       Courier,
       monospace;
  color: #000;
  padding: 0.5em;
  font-size: 18px;
  background-color: transparent;
}

pre {
	margin: 0 auto !important;
}

code {
  display: block;
  border: 1px dashed #263248;
  background-color: #ddd;
}

/* Slide style */
#preso, .slide {
  background-color: transparent;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  height: 768px;
}

#preso, .slide {
  border: none !important;
  margin-top: -30px;
}

.slide .center-fixed-top {
	margin:  100px auto 0 auto !important;
}

.slide .center-fixed {
	margin:  150px auto 0 auto !important;
}

/* Default widths */
h2,
ul,
code {
	width: 640px;
  margin: 0 auto;
}

code {
  display: block;
  text-align: left;
}

ul {
  margin: 0 auto;
		list-style-type: none;
  text-align: left;
}

ul > li {
  font-size: 28px;
  padding: 5px;
  text-align: left;
}

.center ul > li {
  text-align: center;
}

ul > li:before {
  content: "» ";
}

ul > li > ul > li {
  margin-left: 1em;
  margin-bottom: 0.2em;
  font-size: 0.8em;
}
ul > li > ul > li:before {
content: "- ";
}