/**
* Color scheme: http://kuler.adobe.com/#themeID/4817
*/

body {
  font-family: "Actor", "helvetica neue", "helvetica", "lucida grande" , arial, sans-serif;
  color: #000;
  background-color: #ccc;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  font-size: 18px;
}

body.fullScreen {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 65px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

.slide {
	background-color: #fff !important;
	margin: 0 auto ;
	position: relative !important;
}

a,
a:visited,
a:link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

h1 a,
h1 a:visited,
h1 a:link {
  color: #263248;
  font-weight: normal;
  text-decoration: none;
}

.underlined {
	border-bottom: 10px solid #000;
}

.front h1 {
	font-size: 100px;
	line-height: 100px;
	font-weight: bold;
}

.new-chapter h1 {
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
}

.full-code h1 {
	margin-top: 2.5em;
}

/* Code font*/
code,
pre {
  font-family: Consolas,
       "Andale Mono",
       "Lucida Console",
       "Lucida Sans Typewriter",
       "DejaVu Sans Mono",
       "Bitstream Vera Sans Mono",
       "Liberation Mono",
       "Nimbus Mono L",
       Monaco,
       "Courier New",
       Courier,
       monospace;
  color: #000;
  padding: 0.5em;
  font-size: 18px;
  background-color: transparent;
}

pre {
	margin: 0 auto !important;
}

code {
  display: block;
  border: 1px dashed #263248;
  background-color: #ddd;
}

/* Slide style */
#preso, .slide {
  background-color: transparent;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  height: 768px;
}

#preso, .slide {
  border: none !important;
  margin-top: -30px;
}

.slide .center-fixed-top {
	margin:  100px auto 0 auto !important;
}

.slide .center-fixed {
	margin:  150px auto 0 auto !important;
}

/* Default widths */
h2,
ul,
code {
	width: 640px;
  margin: 0 auto;
}

code {
  display: block;
  text-align: left;
}

.content ul {
  margin: 0 auto;
  list-style: none;
  list-style-type: none;
  text-align: left;
}

ul > li {
  font-size: 40px;
  padding: 7px !important;
  text-align: left;
}

.small-list ul > li {
	font-size: 30px;
}

ul > li:before {
  content: "» ";
}

ul > li > ul > li {
  margin-left: 1em;
  margin-bottom: 0.2em;
  font-size: 0.8em;
}

ul > li > ul > li:before {
	content: "- ";
}

.sh_ruby .sh_keyword {
	color: #000 !important;
}

.sh_ruby .sh_string {
	color: brown !important;
}